<!DOCTYPE html>
<html>
	<head>
		<title>Take Quiz</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.1/dist/vuetify.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vuetify@3.7.1/dist/vuetify.min.css" />
		<link rel="stylesheet" href="styles/index.css" />
	</head>
	<body>
		<div id="app" class="d-flex align-center justify-center">
			<v-sheet
				max-width="1200"
				class="mx-4 my-2 px-3 px-md-16 pt-5 pb-7 w-100 rounded-xl">
				<h1 class="text-uppercase text-center">Take A Quiz</h1>
				<div v-if="!quizStarted">
					<div
						class="d-sm-flex align-center w-100 justify-end mt-12 mx-4">
						<p class="w-75 bigger-p pe-sm-4">
							Selecionar o quiz
						</p>
						<v-select
							v-model="selectedQuiz"
							id="quiz-selector"
							class="w-100 rounded-lg"
							variant="outlined"
							color="black"
							hide-details
							:items="selectionQuizzes"
							:disabled="loading"
							:loading="loading">
						</v-select>
					</div>

					<v-row class="my-13 mx-4 mx-md-16">
						<v-col xs="12" md="8">
							<div class="box-wrapper">
								<div class="box-header">
									<p class="font-weight-medium">
										Descrição
									</p>
								</div>
								<div class="box-content">
									<p
										v-if="quizzes.length > 0"
										class="ma-0 mb-1">
										{{ quizzes[selectedQuiz].description }}
									</p>
								</div>
							</div>
						</v-col>
						<v-col xs="12" md="3">
							<div class="box-wrapper">
								<div class="box-header">
									<p class="font-weight-medium">Dificuldade</p>
								</div>
								<div class="box-content emoji">
									<div
										class="icon-wrapper my-2 mx-auto"
										style="--size: 80px">
										<v-icon
											size="80"
											:color="iconDifficulty[quizzes[selectedQuiz].difficulty - 1].color"
											:icon="iconDifficulty[quizzes[selectedQuiz].difficulty - 1].icon">
										</v-icon>
									</div>
								</div>
							</div>
						</v-col>
					</v-row>

					<v-row class="w-100 ma-0 d-flex justify-center">
						<v-btn
							:loading="loading"
							rounded="lg"
							class="button mx-auto text-subtitle-1 py-2 px-6 mb-6"
							@click="quizStarted = true;">
							Iniciar
						</v-btn>
					</v-row>
				</div>
				<div v-else>
					<v-progress-linear
						color="#039200"
						height="10"
						rounded="pill"
						rounded-bar
						class="my-4"
						:model-value="(currentQuestionIndex + 1) / quizzes[selectedQuiz].questions.length * 100">
					</v-progress-linear>
					<div v-if="!quizCompleted">
						<v-row
							class="d-flex justify-space-between mx-1 mb-13 font-weight-light">
							<span>
								Questão {{ currentQuestionIndex + 1 }} de {{
								quizzes[selectedQuiz].questions.length }}
							</span>
							<span>
								Categoria: {{ currentQuestion.category }}
							</span>
							<div class="d-flex">
								<span>Dificuldade:</span>
								<div
									class="ms-2 icon-wrapper emoji"
									style="--size: 18px">
									<v-icon
										size="16"
										:color="iconDifficulty[quizzes[selectedQuiz].difficulty - 1].color"
										:icon="iconDifficulty[quizzes[selectedQuiz].difficulty - 1].icon">
									</v-icon>
								</div>
							</div>
						</v-row>
						<div
							class="d-flex flex-column background-surface rounded-lg py-13">
							<h2 class="text-center font-weight-medium mb-13 px-6">
								{{ currentQuestion.question }}
							</h2>
							<v-row justify="center" class="option-wrapper ma-0">
								<v-col
									xss="12"
									md="5"
									v-for="(option, index) in currentQuestion.options"
									:key="index"
									:class="['mx-md-2 my-2 pa-0', option.length > 0 ? 'd-block' : 'd-none']">
									<div
										:class="['option', {
			'selected': selectedOption === index, 
			'correct': answerSubmitted && index === currentQuestion.correctAnswer,
			'incorrect': answerSubmitted && selectedOption === index && index !== currentQuestion.correctAnswer
			}]"
										@click="selectOption(index)">
										{{ option }}
									</div>
								</v-col>
							</v-row>
						</div>

						<div
							v-if="answerSubmitted"
							class="d-flex flex-column background-surface rounded-lg mt-4 py-13"
							class="explanation">
							<h2 class="text-center font-weight-medium mb-13">
								Explicação
							</h2>
							<p class="px-13">
								{{ currentQuestion.explanation }}
							</p>
						</div>

						<v-row class="my-6 mx-0">
							<v-btn
								rounded="lg"
								class="button mx-auto text-subtitle-1 py-2 px-6 mb-6"
								@click="submitAnswer"
								:disabled="!canProceed">
								{{ buttonText }}
							</v-btn>
						</v-row>
					</div>
					<div v-if="quizCompleted">
						<h2 class="text-center completed-title">
							Quiz Completo!
						</h2>
						<p class="text-center font-weight-medium">
							Pontuação final: {{ score }} / {{
							quizzes[selectedQuiz].questions.length }}
						</p>
						<div
							class="d-flex flex-column background-surface rounded-lg py-13 my-13">
							<p
								v-if="score / quizzes[selectedQuiz].questions.length >= 0.7"
								class="completed-text">
								{{ quizzes[selectedQuiz].congratulations }}
							</p>
							<p v-else class="completed-text">
								{{ quizzes[selectedQuiz].failed }}
							</p>
						</div>
						<v-row class="w-100 ma-0 d-flex justify-center">
							<v-btn
								rounded="lg"
								class="button mx-auto text-subtitle-1 py-2 px-6 mb-6"
								@click="restartQuiz">
								Voltar
							</v-btn>
						</v-row>
					</div>
				</div>
			</v-sheet>
		</div>

		<script type="module">
			import {getQuizzes} from "./firebase.js";
			const {createApp, ref, computed, onMounted} = Vue;
			const {createVuetify} = Vuetify;

			const vuetify = createVuetify();

			createApp({
				setup() {
					const quizzes = ref([
						{
							name: "Loading",
							description: "Loading quizzes",
							congratulations: "Something went wrong :(",
							failed: "Something went wrong :(",
							difficulty: 3,
							questions: [
								{
									question:
										"What is the purpose of the 'pages' directory in Nuxt 3?",
									options: [
										"To store static assets",
										"To define API routes",
										"To create file-based routing",
										"To store global components",
									],
									correctAnswer: 2,
									explanation:
										"In Nuxt 3, the 'pages' directory is used for file-based routing. Each Vue file in this directory automatically becomes a route in your application.",
									category: "Routing",
									difficulty: 3,
								},
							],
						},
					]);
					const quizStarted = ref(false);
					const selectionQuizzes = ref(["Nuxt 3 Basics"]);
					const selectedQuiz = ref(0);
					const currentQuestionIndex = ref(0);
					const selectedOption = ref(null);
					const answerSubmitted = ref(false);
					const score = ref(0);
					const quizCompleted = ref(false);
					const loading = ref(true);
					const iconDifficulty = [
						{
							icon: "mdi-emoticon-excited",
							color: "#68FF77",
						},
						{
							icon: "mdi-emoticon-happy",
							color: "#C6FF68",
						},
						{
							icon: "mdi-emoticon-neutral",
							color: "#FFF968",
						},
						{
							icon: "mdi-emoticon-sad",
							color: "#FFC368",
						},
						{
							icon: "mdi-emoticon-dead",
							color: "#FF6868",
						},
					];

					const currentQuestion = computed(() => {
						return quizzes.value[selectedQuiz.value].questions[
							currentQuestionIndex.value
						];
					});

					const canProceed = computed(() => {
						return (
							selectedOption.value !== null ||
							answerSubmitted.value
						);
					});

					const buttonText = computed(() => {
						if (!answerSubmitted.value) {
							return "Submit Answer";
						}
						if (
							currentQuestionIndex.value <
							quizzes.value[selectedQuiz.value].questions.length -
								1
						) {
							return "Next Question";
						}
						return "Finish Quiz";
					});

					onMounted(() => {
						loadQuestions();
					});

					function loadQuestions() {
						getQuizzes().then((quizzesData) => {
							loading.value = false;
							if (quizzesData) {
								quizzes.value = [...quizzesData];

								selectionQuizzes.value = [];
								for (let i = 0; i < quizzes.value.length; i++) {
									selectionQuizzes.value.push({
										title: quizzes.value[i].name,
										value: i,
									});
								}
								console.log("Quizzes carregados");
							}
						});
					}

					function selectOption(index) {
						if (!answerSubmitted.value) {
							selectedOption.value = index;
						}
					}

					function submitAnswer() {
						if (!answerSubmitted.value) {
							answerSubmitted.value = true;
							if (
								selectedOption.value ===
								currentQuestion.value.correctAnswer
							) {
								score.value++;
							}
						} else if (
							currentQuestionIndex.value <
							quizzes.value[selectedQuiz.value].questions.length -
								1
						) {
							currentQuestionIndex.value++;
							selectedOption.value = null;
							answerSubmitted.value = false;
						} else {
							quizCompleted.value = true;
						}
					}

					function restartQuiz() {
						quizStarted.value = false;
						currentQuestionIndex.value = 0;
						selectedOption.value = null;
						answerSubmitted.value = false;
						score.value = 0;
						quizCompleted.value = false;
						loadQuestions(); // Reload the question
					}

					return {
						quizzes,
						quizStarted,
						selectionQuizzes,
						selectedQuiz,
						currentQuestion,
						currentQuestionIndex,
						selectedOption,
						answerSubmitted,
						score,
						quizCompleted,
						canProceed,
						buttonText,
						loading,
						iconDifficulty,
						selectOption,
						submitAnswer,
						restartQuiz,
					};
				},
			})
				.use(vuetify)
				.mount("#app");
		</script>
	</body>
</html>
