<html>
    <head>
        <title>Login - Quiz Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.1/dist/vuetify.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vuetify@3.7.1/dist/vuetify.min.css"
        />
        <link rel="stylesheet" href="styles/login.css" />
    </head>
    <body>
        <div id="app" class="d-flex align-center justify-center">
            <v-sheet
                max-width="600"
                class="mx-4 my-2 px-3 px-md-16 pt-5 pb-7 w-100 rounded-xl"
            >
                <h1 class="text-uppercase text-center">Login</h1>

                <form @submit.prevent="sendLogin">
                    <div class="my-12">
                        <v-text-field
                            type="email"
                            v-model="email"
                            variant="outlined"
                            label="E-mail"
                        ></v-text-field>
                        <v-text-field
                            type="password"
                            v-model="password"
                            variant="outlined"
                            label="Senha"
                        ></v-text-field>
                    </div>
                    <v-row class="justify-center">
                        <v-btn
                            type="submit"
                            class="button text-subtitle-1 py-2 px-6 mb-6"
                        >
                            Entrar
                        </v-btn>
                    </v-row>
                </form>
            </v-sheet>
        </div>

        <script type="module">
            import { login, logado } from "./firebase.js";
            const { createApp, ref, reactive, computed, onBeforeMount } = Vue;
            const { createVuetify } = Vuetify;

            const vuetify = createVuetify();

            createApp({
                setup() {
                    const email = ref("");
                    const password = ref("");

                    onBeforeMount(() => {
                        logado().then((user) => {
                            if (user) {
                                window.location.href =
                                    "dashboard/quiz-editor.html";
                            }
                        });
                    });

                    function sendLogin() {
                        login(email.value, password.value).then((user) => {
                            if (user) {
                                window.location.href =
                                    "dashboard/quiz-editor.html";
                            }
                        });
                    }

                    return {
                        email,
                        password,
                        sendLogin,
                    };
                },
            })
                .use(vuetify)
                .mount("#app");
        </script>
    </body>
</html>
