<!DOCTYPE html>
<html>
    <head>
        <title>Nuxt 3 Learning Game - Quiz Editor</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.1/dist/vuetify.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vuetify@3.7.1/dist/vuetify.min.css"
        />
        <link rel="stylesheet" href="../styles/dashboard.css" />
    </head>
    <body>
        <div id="app" class="d-flex align-center justify-center">
            <v-sheet
                max-width="1200"
                class="mx-4 my-2 px-3 pb-7 w-100 rounded-xl"
            >
                <v-row class="my-3 mx-1">
                    <v-row class="nav">
                        <v-col
                            class="tab-selected d-flex w-100 align-center justify-center"
                        >
                            <a href="#">Quiz Editor</a>
                        </v-col>
                        <v-col class="d-flex w-100 align-center justify-center">
                            <a href="view-all-quizzes.html">View Quizzes</a>
                        </v-col>
                    </v-row>
                    <v-btn
                        icon="mdi-logout"
                        @click="sair"
                        variant="plain"
                        class="ma-0 ms-7"
                    >
                    </v-btn>
                </v-row>
                <div class="mx-12 mt-8">
                    <v-row class="ma-0">
                        <v-col>
                            <p class="bigger-p mb-3">
                                Select which quiz to edit
                            </p>
                            <v-select
                                v-model="currentQuiz"
                                label=""
                                class="w-100 rounded-lg"
                                variant="outlined"
                                color="black"
                                hide-details
                                :items="selectionQuizzes"
                                :loading="loading"
                                :disabled="loading"
                            >
                            </v-select>
                        </v-col>
                        <v-col class="d-flex align-center">
                            <v-row class="ma-0 d-flex justify-end align-center">
                                <v-btn
                                    color="#8BF890"
                                    height="auto"
                                    @click="createNewQuiz('')"
                                    class="py-5 px-0 ma-0"
                                >
                                    <v-icon size="20" icon="mdi-plus"></v-icon>
                                </v-btn>
                                <v-btn
                                    color="#8BC4F8"
                                    height="auto"
                                    class="py-5 px-0 ma-0 mx-4"
                                >
                                    <v-icon
                                        size="20"
                                        icon="mdi-pencil"
                                    ></v-icon>
                                </v-btn>
                                <v-btn
                                    color="#F39696"
                                    height="auto"
                                    @click="deleteQuiz"
                                    class="py-5 px-0 ma-0"
                                >
                                    <v-icon
                                        size="20"
                                        icon="mdi-trash-can"
                                    ></v-icon>
                                </v-btn>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-col class="ma-0 my-7">
                        <v-row class="ma-0 mb-2">
                            <p class="bigger-p">Quiz Statistics</p>
                        </v-row>
                        <v-row
                            class="ma-0 mx-10 justify-center font-weight-medium"
                        >
                            <v-col>
                                <p class="text-center">
                                    {{ quizzes[currentQuiz].questions.length }}
                                </p>
                                <p class="text-center f-12">Total Questions</p>
                            </v-col>
                            <v-col>
                                <p class="text-center">
                                    {{ quizzes[currentQuiz].difficulty }}
                                </p>
                                <p class="text-center f-12">
                                    Average difficulty
                                </p>
                            </v-col>
                            <v-col>
                                <p class="text-center">
                                    {{ uniqueCategories.length}}
                                </p>
                                <p class="text-center f-12">
                                    Number of categories
                                </p>
                            </v-col>
                        </v-row>
                    </v-col>
                    <div class="ms-3">
                        <p class="bigger-p">Add Question</p>
                        <div class="ms-7 mt-2">
                            <v-row>
                                <v-col>
                                    <p class="mb-1">Question</p>
                                    <v-textarea></v-textarea>
                                </v-col>
                                <v-col>
                                    <p class="mb-1">Category</p>
                                    <v-text-field
                                        type="text"
                                        class="mb-4"
                                    ></v-text-field>
                                    <p class="mb-1">Difficulty</p>
                                    <div class="d-flex">
                                        <div
                                            v-for="(item, index) in iconDifficulty"
                                            :key="index"
                                            class="icon-wrapper emoji mx-auto"
                                            style="--size: 20px"
                                        >
                                            <v-icon
                                                size="19"
                                                :icon="item.icon"
                                                :color="item.color"
                                            >
                                            </v-icon>
                                        </div>
                                    </div>
                                </v-col>
                            </v-row>
                            <v-row class="ma-0">
                                <v-col>
                                    <p class="mb-1">Explanation</p>
                                    <v-textarea></v-textarea>
                                </v-col>
                            </v-row>
                            <v-row class="ma-0">
                                <v-col>
                                    <p class="mb-1">Options</p>
                                    <div class="d-flex mx-4">
                                        <v-row class="ma-0">
                                            <v-col>
                                                <div class="d-flex ga-2 mb-2">
                                                    <v-radio inline></v-radio>
                                                    <v-text-field
                                                        type="text"
                                                        variant="outlined"
                                                        hide-details
                                                    >
                                                    </v-text-field>
                                                </div>
                                                <div class="d-flex ga-2">
                                                    <v-radio inline></v-radio>
                                                    <v-text-field
                                                        type="text"
                                                        variant="outlined"
                                                        hide-details
                                                    >
                                                    </v-text-field>
                                                </div>
                                            </v-col>
                                            <v-col>
                                                <div class="d-flex ga-2 mb-2">
                                                    <v-radio inline></v-radio>
                                                    <v-text-field
                                                        type="text"
                                                        variant="outlined"
                                                        hide-details
                                                    >
                                                    </v-text-field>
                                                </div>
                                                <div class="d-flex ga-2">
                                                    <v-radio inline></v-radio>
                                                    <v-text-field
                                                        type="text"
                                                        variant="outlined"
                                                        hide-details
                                                    >
                                                    </v-text-field>
                                                </div>
                                            </v-col>
                                        </v-row>
                                    </div>
                                </v-col>
                            </v-row>
                            <v-row class="d-flex justify-center ga-4 ma-0 mt-4">
                                <v-btn class="button text-subtitle-1 py-2 px-6">
                                    Save
                                </v-btn>
                                <v-btn
                                    color="#D2E4D6"
                                    class="button text-subtitle-1 py-2 px-6"
                                >
                                    Clear
                                </v-btn>
                            </v-row>
                        </div>
                    </div>
                    <div class="ms-3 my-9">
                        <p class="bigger-p">Question List</p>
                        <div
                            v-for="(question, index) in quizzes[currentQuiz].questions"
                            class="background-light mx-8 my-4 px-3 py-2"
                        >
                            <p class="mb-7">
                                {{ index + 1 }}) {{ question.question }}
                            </p>
                            <v-row class="ma-0 justify-space-between">
                                <div class="d-flex align-center f-12">
                                    <p class="me-2">
                                        Difficulty: {{ question.difficulty }}
                                    </p>
                                    <p>Category: {{ question.category }}</p>
                                </div>
                                <div>
                                    <v-btn
                                        color="#8BC3F8"
                                        rounded="pill"
                                        class="action-button me-3"
                                        >Editar</v-btn
                                    >
                                    <v-btn
                                        color="#F39696"
                                        rounded="pill"
                                        class="action-button"
                                        >Excluir</v-btn
                                    >
                                </div>
                            </v-row>
                        </div>
                    </div>
                </div>
            </v-sheet>
        </div>

        <script type="module">
            import {
                getQuizzes,
                insertQuizzes,
                logado,
                deslogar,
            } from "../firebase.js";
            const {
                createApp,
                ref,
                reactive,
                computed,
                onMounted,
                onBeforeMount,
            } = Vue;
            const { createVuetify } = Vuetify;
            const vuetify = createVuetify();

            createApp({
                setup() {
                    const quizzes = ref([
                        {
                            name: "Nuxt 3 Basics",
                            description:
                                "Test your knowledge of the basics of Nuxt 3.",
                            congratulations:
                                "Congratulations! You have successfully completed the Nuxt 3 Basics quiz.",
                            failed: "You have failed the Nuxt 3 Basics quiz. Please try again.",
                            difficulty: 2,
                            questions: [
                                {
                                    question:
                                        "What is the purpose of the 'pages' directory in Nuxt 3?",
                                    options: [
                                        "To store static assets",
                                        "To define API routes",
                                        "To create file-based routing",
                                        "To store global components",
                                    ],
                                    correctAnswer: 2,
                                    explanation:
                                        "In Nuxt 3, the 'pages' directory is used for file-based routing. Each Vue file in this directory automatically becomes a route in your application.",
                                    category: "Routing",
                                    difficulty: 2,
                                },
                            ],
                        },
                    ]);
                    const selectionQuizzes = ref([]);
                    const currentQuiz = ref(0);
                    const currentQuestion = reactive({
                        question: "",
                        options: ["", "", "", ""],
                        correctAnswer: null,
                        explanation: "",
                        category: "",
                        difficulty: 3,
                    });
                    const isEditing = ref(false);
                    const loading = ref(true);
                    let editingIndex = -1;
                    const iconDifficulty = [
                        {
                            icon: "mdi-emoticon-excited",
                            color: "#68FF77",
                        },
                        {
                            icon: "mdi-emoticon-happy",
                            color: "#C6FF68",
                        },
                        {
                            icon: "mdi-emoticon-neutral",
                            color: "#FFF968",
                        },
                        {
                            icon: "mdi-emoticon-sad",
                            color: "#FFC368",
                        },
                        {
                            icon: "mdi-emoticon-dead",
                            color: "#FF6868",
                        },
                    ];

                    const uniqueCategories = computed(() => {
                        return [
                            ...new Set(
                                quizzes.value[currentQuiz.value].questions.map(
                                    (q) => q.category
                                )
                            ),
                        ];
                    });

                    function generateAverageDifficulty() {
                        if (
                            quizzes.value[currentQuiz.value].questions
                                .length === 0
                        ) {
                            quizzes.value[currentQuiz.value].difficulty = 0;
                            return;
                        }

                        const sum = quizzes.value[
                            currentQuiz.value
                        ].questions.reduce((acc, q) => acc + q.difficulty, 0);

                        quizzes.value[currentQuiz.value].difficulty = (
                            sum /
                            quizzes.value[currentQuiz.value].questions.length
                        ).toFixed(0);
                    }

                    onBeforeMount(() => {
                        logado().then((user) => {
                            if (user === null) {
                                window.location.href = "../login.html";
                            }
                        });
                    });

                    onMounted(() => {
                        getQuizzes().then((quizzesData) => {
                            loading.value = false;
                            if (quizzesData) {
                                quizzes.value = [...quizzesData];

                                selectionQuizzes.value = [];
                                for (let i = 0; i < quizzes.value.length; i++) {
                                    selectionQuizzes.value.push({
                                        title: quizzes.value[i].name,
                                        value: i,
                                    });
                                }

                                console.log("Quizzes carregados");
                            }
                        });
                    });

                    function selectQuiz() {
                        currentQuiz.value =
                            document.getElementById("quiz-dropdown").value;
                    }

                    function createNewQuiz(textPrompt) {
                        textPrompt =
                            textPrompt || "Digite o nome do novo quiz:";
                        let quizName = prompt(textPrompt);
                        if (quizName) {
                            quizzes.value.push({
                                name: quizName,
                                questions: [],
                            });
                            insertQuizzes(quizzes.value);

                            currentQuiz.value = quizzes.value.length - 1;
                            generateAverageDifficulty();

                            alert("Quiz criado com sucesso!");
                        }
                    }

                    function editQuiz() {
                        let name = document.getElementById("quiz-name").value;
                        let description =
                            document.getElementById("quiz-description").value;
                        let congratulations = document.getElementById(
                            "quiz-congratulations"
                        ).value;
                        let failed =
                            document.getElementById("quiz-failed").value;
                        quizzes.value[currentQuiz.value].name = name;
                        quizzes.value[currentQuiz.value].description =
                            description;
                        quizzes.value[currentQuiz.value].congratulations =
                            congratulations;
                        quizzes.value[currentQuiz.value].failed = failed;
                        alert("Quiz salvo com sucesso!");
                        insertQuizzes(quizzes.value);
                    }

                    function deleteQuiz() {
                        if (
                            confirm(
                                "Tem certeza que quer deletar o quiz (" +
                                    quizzes.value[currentQuiz.value].name +
                                    ")?"
                            )
                        ) {
                            quizzes.value.splice(currentQuiz.value, 1);
                            currentQuiz.value = 0;
                            if (quizzes.value.length === 0) {
                                createNewQuiz(
                                    "Você precisa ter pelo menos um quiz salvo, por favor digite o nome do novo quiz:"
                                );
                            } else {
                                insertQuizzes(quizzes.value);
                                alert(
                                    `Quiz ${
                                        quizzes.value[currentQuiz.value].name
                                    } deletado com sucesso.`
                                );
                            }
                        }
                    }

                    function saveQuestion() {
                        const newQuestion = { ...currentQuestion };
                        if (isEditing.value) {
                            quizzes.value[currentQuiz.value].questions[
                                editingIndex
                            ] = newQuestion;
                            isEditing.value = false;
                            editingIndex = -1;
                        } else {
                            quizzes.value[currentQuiz.value].questions.push(
                                newQuestion
                            );
                        }
                        resetForm();
                        generateAverageDifficulty();
                        insertQuizzes(quizzes.value);
                    }

                    function resetForm() {
                        Object.assign(currentQuestion, {
                            question: "",
                            options: ["", "", "", ""],
                            correctAnswer: null,
                            explanation: "",
                            category: "",
                            difficulty: 3,
                        });
                        isEditing.value = false;
                        editingIndex = -1;
                    }

                    function editQuestion(index) {
                        Object.assign(
                            currentQuestion,
                            quizzes.value[currentQuiz.value].questions[index]
                        );
                        isEditing.value = true;
                        editingIndex = index;
                    }

                    function deleteQuestion(index) {
                        if (
                            confirm(
                                "Tem certeza que quer deletar essa questão?"
                            )
                        ) {
                            quizzes.value[currentQuiz.value].questions.splice(
                                index,
                                1
                            );
                            insertQuizzes(quizzes.value);
                        }
                    }

                    function sair() {
                        deslogar().then((retorno) => {
                            if (retorno) {
                                window.location.href = "../login.html";
                            }
                        });
                    }

                    return {
                        quizzes,
                        selectionQuizzes,
                        currentQuiz,
                        currentQuestion,
                        isEditing,
                        iconDifficulty,
                        uniqueCategories,
                        selectQuiz,
                        createNewQuiz,
                        editQuiz,
                        deleteQuiz,
                        saveQuestion,
                        resetForm,
                        editQuestion,
                        deleteQuestion,
                        sair,
                    };
                },
            })
                .use(vuetify)
                .mount("#app");
        </script>
    </body>
</html>
